
.all{
  background-color: #f2e7bc;
  margin-top: 0;

}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default: 3 cards per row */
    gap: 15px; /* Space between books */
    justify-content: center;
    padding: 20px;
  }
  
  /* Responsive for Tablets (2 per row) */
  @media (max-width: 900px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Responsive for Mobile (1 per row) */
  @media (max-width: 600px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  
  .card {
    display: flex;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: start;
    transition: transform 0.2s ease-in-out;
    height:350px;
    width:338px;
    overflow:hidden;
    word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0 auto;
  

  }
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 0;
    object-fit: cover;
    
  }
  .card h6{
    margin-top: 0;
  }

  .card-price{
    color: #2874f0;
    font-weight: bold;
    
  }

  
  .card:hover {
    transform: scale(1.05);
  }

  
  .search-bar {
    
    width: 100%;
    max-width: 700px; /* Maximum width of the input */
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 50px;
    /* margin: 20px auto; */
    margin-left: 350px;
    display: block; /* Centers the input */
   
  }

  .search-bar input{
    border:none;
    outline:none;
  }
  .search-bar input{
    width: 100%;
  
    padding: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 50px;
  }
  
  .nik {
    background-color:#f2e7bc;
  }
  


  .show-more {
    text-align: center;
    margin-top: 20px;
}

.show-more button {
  width: 250px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
}

.show-more button:hover {
    background-color: #0056b3;
}
  


.priyanka h3{
  display: inline-block; 
  color: inherit; 
  white-space: nowrap;
  height: 50vh;
 
  margin-left: 15px;
}

.priyanka a {
  text-decoration: none; 
  color: blue; 
  margin-left: 5px; 
}

.priyanka a:hover {
  text-decoration: underline; 
  color: darkblue; 
}