.year1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f2e7bc;
    padding: 20px;
    height: 100vh;
}

.year1-card {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* height: 500px; */
}

.year1-card:hover{
    background-color: rgb(227, 229, 200);
    box-shadow:0 20px 20px #2D5F9A ;
    transition-duration: 0.5s;
}
    

    


     
    




.year1-card select {
    margin: 20px;
    padding: 5px;
    font-size: 16px;
}

.year1-card .buttons {
    margin-top: 20px;
}

.year1-card button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

.year1-card button:hover {
    background-color: #0056b3;
    transition-duration: 0.5;
}

.year1-card button:active {
    background-color: #003f7f;
}