/* .col{
    background-color: aqua;
    width: 40px;
    height: auto;
} */

.cards-containar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    background-color: #f2e7bc;

   
  }
  

.card{
    background-color: antiquewhite;
    width: 350px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left:auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-color: #2D5F9A;
    align-items: center;
    
    
}

.card:hover{
    background-color: rgb(227, 229, 200);
    box-shadow:0 20px 20px #2D5F9A ;
    transition-duration: 0.5s;
}

.cards-containar{
    display: flex;
    background-color:#f2e7bc;
    justify-content: space-around;
    flex-wrap: wrap;


    

    

}

.card-img{
    width: 70%;
    height: 25vh;
    border-radius: 0.5rem;
    margin: 15px;
    object-fit: cover;






}


.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Ensure the text color contrasts with the background */
    margin-top: 10px;
  }
  
  .card-info {
    font-size: 14px;
    color: #666; /* Ensure the text color contrasts with the background */
    margin-top: 5px;
  }
/* .welcome{
    text-align: center;
    background-color: #FDC500;
    
} */

.hd{
    background-color: #f2e7bc;
    text-align: center;
    margin-bottom: -10px;
    margin-top: auto;
}



